<div class="page_block ">
    {{>hero title=hero.title text=hero.text}}
</div>

<div class="page_block ">
    <main class="row g-0 plans">
        {{#each plans}}
        <div class="col plans_card">
            {{>plan-card}}
        </div>
        {{/each}}
    </main>
</div>