:root {
  --space-m: 12px;
  --space-ms: 16px;
  --space-l: 24px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;

  --color-border: #DEE2E6;
  --color-title: #212529;
  --color-text: #343A40;
  --color-primary: #006adb;
}

.page {
  background: #fff;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.page-content {
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.button {
  display: inline-block;
  padding: var(--space-m) var(--space-ms);
  font-size: var(--size-d);
  text-decoration: none;
}

/*.page_block:not(:last-of-type) {
  margin-bottom: 80px;
}*/

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);
}

.logo {
  font-size: 18;
}

.nav {
  display: block;

}

.header-nav {
  width: fit-content;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  flex-direction: column;
  gap: var(--space-m);
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  color: blue;
}

/* 

.nav_vertical .nav_link:not(:last-child) {
  margin-bottom: var(--space-m);
  display: block;
}

.nav_inline .nav_link:not(:last-child) {
  margin-right: var(--space-l);
} */

.right {
  margin-left: auto;
}

.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);
}

.footer-copyright {
  color: #6C757D;
  font-size: var(--size-s);
  margin-top: var(--space-m);
  display: block;
}

.footer_title {
  font-weight: 500;
  font-size: var(--size-l);
  color: var(--color-title);
  margin-bottom: var(--space-m);
}

.hero-title {
  font-weight: 500;
  font-size: 56px;
  color: var(--color-title);
  margin-bottom: var(--space-m);
  text-align: center;
}

.hero-text {
  font-weight: 400;
  font-size: var(--size-l);
  color: var(--color-title);
  text-align: center;
  max-width: 585px;
  margin: auto;
}

.plans_card:not(:last-of-type) {
  margin-right: var(--space-l);
}

.card-header {
  color: var(--color-title);
  font-size: var(--space-l);
  text-align: center;
  padding: var(--space-m);
}

.card-body {
  padding: var(--space-l);
}

.card-price {
  text-align: center;
  margin-bottom: var(--space-l);
}

.card-price-amont {
  font-size: 40px;
  color: var(--color-title);
}

.card-price-duration {
  font-size: 29px;
  color: #6C757D;
}

.card-features {
  margin-bottom: var(--space-l);
  text-align: center;
}

.card-features-item {
  font-size: var(--size-d);
  color: var(--color-title);
}

.card-features-item:not(:last-of-type) {
  margin-bottom: var(--space-m);
}

.card-button {
  display: block;
  width: 100%;
  padding: 9px;
  font-size: 19px;
}

.hero {
  background: var(--color-text);

  border-radius: var(--space-l);
  padding: 80px;
}

.hero>*:not(a) {
  color: #fff;
  text-align: left;
  margin-left: 0;
  margin-bottom: var(--space-l);
}

.button {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: var(--size-d);
  padding: 10px var(--size-l);
  background-color: #007BFF;
  max-width: 248px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.button:hover {
  background-color: #006adb;
}

.preview {
  padding: var(--space-l);
  border: 1px solid var(--color-border);
  border-radius: var(--space-l);
  box-shadow: 0px 4px var(--space-m) rgba(0, 0, 0, 0.05);
}

.preview-header>span:not(:last-of-type) {
  margin-right: var(--space-m);
  font-size: var(--size-d);
}


.preview-date {
  color: #6C757D;
}

.preview-category_1 {
  color: #007BFF;
  font-weight: 700;
}

.preview-category_2 {
  color: #198754;
  font-weight: 700;
}

.preview-category_3 {
  color: #FF0000;
  font-weight: 700;
}

.preview-category_4 {
  color: #FF7A00;
  font-weight: 700;
}

.preview>*:not(:last-child) {
  margin-bottom: var(--space-m);
}


.preview-title {
  display: block;
  font-weight: 500;
  font-size: 28px;
  color: var(--color-text);
}

.preview-description {
  font-size: var(--size-d);
  color: var(--color-title);
}

.list-title {
  font-weight: 500;
  font-size: 32px;
  color: var(--color-title);
  margin: 0;
}

.list_header {
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 40px;
}

.category_button {
  font-size: var(--size-d);
  color: #6C757D;
  padding: 10px var(--size-d);
  border-radius: 40px;
  border: 1px solid #6C757D;
  line-height: 100%;
}

.category_button:hover {
  background: #6c757d13;

}

.category {
  text-align: right;
}

.list>*:not(:last-child) {
  margin-bottom: 40px;
}

.post {
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);
}

.post>*:not(:last-child) {
  margin-bottom: var(--space-m);
}

.post-title {
  display: block;
  color: var(--color-title);
  font-weight: 500;
  font-size: 28px;
}

.post-info {
  color: #999999;
  font-weight: 400;
  font-size: var(--size-d);
}

.post-author {
  color: #007BFF;

}

.post-description {
  font-weight: 400;
  font-size: var(--size-d);
  color: var(--color-title);
}

.list_aside>*:not(:last-child) {
  margin-bottom: var(--space-l);
}

.about {
  background: #F8F9FA;
  color: var(--color-title);
  padding: var(--space-l);
}

.about_title {
  font-size: var(--size-l);
  font-weight: 500;
  margin-bottom: var(--space-m);

}

.aside_title {
  font-size: var(--space-l);
  font-weight: 500;
  margin-bottom: var(--space-m);
}

.about_description {
  font-weight: 400;
  font-size: var(--size-s);
  line-height: 150%;
  margin: 0;
}

.list_aside>* {
  padding: var(--space-l);
}

.link_item {
  font-size: var(--size-d);
  line-height: var(--space-l);
  color: #007BFF;
  display: block;
  text-decoration: none;
}

.link_item:hover {
  text-decoration: underline;
}

.hero_3 {
  display: flex;
  gap: 36px;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #DEE2E6;
}

.hero_3_photo {
  width: 500px;
  height: 500px;
  border-radius: 12px;
}

.hero_3_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.hero_3_content * {
  margin: 0;

}

.hero_3_title {
  font-size: 50px;
  font-weight: 500;
  line-height: 120%;
  color: var(--color-title);
}

.hero_3_text {
  font-size: var(--size-l);
  color: var(--color-text);
  line-height: 170%;
}

.blog {
  display: flex;
  gap: 36px;

}

.blog_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--size-l);
}

.blog_card_image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.blog_card_title {
  color: var(--color-title);
  font-weight: 400;
  font-size: 32px;

}

.blog_card_text {
  color: var(--color-text);
  font-size: var(--size-d);
}

.blog_card_button {
  display: inline-block;
  padding: var(--space-m) var(--space-ms);
  color: #fff;
  font-size: var(--size-d);
  background-color: #6C757D;
  text-decoration: none;
  border-radius: 4px;

}

.blog_card_button:hover {
  opacity: 0.7;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-primary);

  padding: var(--space-l);
  border-radius: 8px;
}

.form_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.form_title {
  color: #fff;
  font-size: 27px;
  font-weight: 500;
}

.form_info {
  font-size: var(--size-d);
  color: #fff;
  opacity: 0.8;
}

.form_button {
  background-color: #fff;
  max-width: 160px;
  color: var(--color-text);
}