<div class="post">
    <strong class="post-title">{{title}}</strong>
    <div class="post-info">{{date}} <span class="post-author">{{author}}</span></div>
    <p class="post-description">{{description}}</p>
    <a class="" href="">Continue reading</a>
</div>