<footer class="footer">
    {{#with footer}}
    <div class="">

        {{>nav list=pages }}
    </div>
    <div class="">
        <span class="footer-copyright">{{copyright}}</span>
    </div>
    {{/with}}
</footer>